html, body {
    height: 100%;
}
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: linear-gradient(135deg, lightskyblue, mediumpurple);
    text-align: right;
}

h1{
    text-align: center;
}

table {
    width: 100%;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: ghostwhite;
}

tr:hover {
    background-color: aliceblue;
}

.addBtn{
    background-color: green;
    color: white;
    margin-right: 20px;
}

.addBtn:hover{
    background-color: #006500;
    color: white;
}

a:link, a:visited {
    border-radius: 20px;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}