body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(135deg, lightskyblue, mediumpurple);
  text-align: center;
}

span {
  color: red;
  padding: 10px;
}

label {
  font-size: 20px;
  padding-bottom: 3px;
}

input{
  height: 30px;
}

form{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px auto;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px;
}

input[type="submit"]{
  background-color: cornflowerblue;
  border-radius: 20px;
  width: 50%;
  margin: 20px auto;
  color: white;
  border: none;
}

.addBtn{
  background-color: green;
  color: white;
  margin-right: 20px;
}

.addBtn:hover{
  background-color: #006500;
  color: white;
}

a:link, a:visited {
  border-radius: 20px;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}