body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: linear-gradient(135deg, lightskyblue, mediumpurple);
    text-align: right;
}

h1{
    text-align: center;
}

table {
    width: 100%;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px;
}
th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: whitesmoke;
}

tr:hover {
    background-color: aliceblue;
}

.addBtn{
    background-color: green;
    color: white;
    margin-right: 20px;
}

.addBtn:hover{
    background-color: #006500;
    color: white;
}

.deleteBtn{
    background-color: red;
    color: black;
}

.deleteBtn:hover{
    background-color: #980000;
    color: white;
}

.editBtn{
    background-color: yellow;
    color: black;
}

.editBtn:hover{
    background-color: #b3b300;
    color: black;
}

.cancelBtn{
    background-color: lightgray;
    color: black;
}

.cancelBtn:hover{
    background-color: #838383;
    color: black;
}

a:link, a:visited {
    border-radius: 20px;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button{
    border-radius: 20px;
    padding: 14px 20px;
    text-align: center;
    cursor:pointer;
    border: none;
}

button:hover{
    background-color: #838383;
    color: black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid gray;
    width: 300px;
    text-align: center;
    border-radius: 8px;
}

.close {
    color: gray;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}